@using WebProject.Models
@model List<Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutw3.cshtml";
}

<br />

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var l in Model)
    {
        <tr>
            <td>@l.PersonelID</td>
            <td>@l.Ad</td>
            <td>@l.Soyad</td>
            <td>@l.Birim.BirimAd</td>

            <td><a href="/Personelim/PersonelSil/@l.PersonelID" class="btn btn-danger">Sil</a>  </td>
            <td><a href="/Personelim/PersonelGetir/@l.PersonelID" class="btn btn-success">Güncelle</a>  </td>
        </tr>

    }

</table>

<a href="/Personelim/YeniPersonel" class="btn btn-primary">Yeni Personel Ekle</a>



