
@model WebProject.Models.Birim
@{
    ViewData["Title"] = "YeniBirim";
    Layout = "~/Views/Shared/_Layoutw3.cshtml";
}

<br />

<form class="form-group" method="post">

    <b>Birim Adı</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form control" })
    <br />
    <br />

    <button class="btn btn-info">Birim Ekle</button>
</form>



